<div class="sidebar p-3">
    <h3 class="logo">🧙 Loja RPG</h3>

    <NavLink class="menu-item" href="">
        🏠 Home
    </NavLink>

    <NavLink class="menu-item" href="gerencia-de-loja">
        ⚔️ Inventário
    </NavLink>
</div>